# Local .terraform directories
**/assets/img2.zip
./assets/img2.zip
admin/.DS_Store
assets/.DS_Store
assets/img/.DS_Store
assets/img/category/.DS_Store
includes/config.local.php
admin/includes/config.local.php
mail.local.php
